<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpsBinding_IService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wcfserviceappinterciti.azurewebsites.net/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServiceReferenceInterciti.IService" name="BasicHttpBinding_IService" />
            <endpoint address="https://wcfserviceappinterciti.azurewebsites.net/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService"
                contract="ServiceReferenceInterciti.IService" name="BasicHttpsBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>